<div class="centered container-trans margin-1">
  <form class="form-horizontal" role="form">

    <%= form_for(@group) do |f| %>
      <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <div class="field container-fluid">
          <%= f.text_field :group_name, placeholder: "Group Name:", class: "text-left container-search" %>
        </div>
        <div class="field container-fluid">    
          <%= f.text_area :group_description, placeholder: "Group Description:", class: "text-left container-search" %>
        </div>
        <div class="field container-fluid">    
          <%= f.text_field :group_logo_url, placeholder: "URL Group Logo:", class: "text-left container-search" %>
        </div>
        <div class="field container-fluid">    
          <%= f.text_field :group_tagline, placeholder: "Group TagLine:", class: "text-left container-search" %>
        </div>
      
        <%= submit_tag "Create Group", class: "btn button-purple"  %>

      </div>
    <% end %>
  </div>
