
<% if @group.admins.include?(current_user) %>
	<%= form_tag("/searchgames", method: :get) do |u| %>
		<%= text_field_tag "search", nil, placeholder: "Search games..." %>
		<%= submit_tag "Search" %>
	<% end %>


<%= button_to "Create Event", new_event_path %>
<% end %>
  	  <div class="nav-options-group-join">
  	  	<% if current_user.groups.include?(@group) %>
  				<%= button_to 'Leave Group', remove_user_path(@group.id), method: :post, class: "btn button-purple" %>
  			<% else %>
  				<%= button_to "Join Group", add_user_path(@group),  method: :post, class: "btn button-purple"%>
  			<% end %>
  		</div>
<div class="container-trans">
  <div style="overflow-y: scroll; height: auto;">
    <div id="1">
      <div class="group-info">
        <div class="group-logo-div">
          <%= image_tag(@group.group_logo_url, class: "media-object border-white") %>
              <h2>Group Info</h2>

              <p id="notice"><%= notice %></p>
                <h4 class="white-text">
                  <b>Group name:</b>
                </h4>
                  <p><%= @group.group_name %></p>

                <h4 class="white-text">
                  <b>Group tagline:</b>
                </h4>
                  <p><%= @group.group_tagline %></p>

          <h4 class="white-text">
            <b>Group description:</b>
          </h4>
            <p><%= @group.group_description %></p>
      </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-trans">
  <div style="overflow-y: scroll; height: auto;">
    <div class="users_list">
      <h2 class="media_heading"> Users in this group </h2>

      <% @users.each do |user| %>
        <p class="white-text"><%= button_to user.username, user_path(user), method: :get %> </p>
      <% end %>
    </div>

    <% if @group.users.include?(current_user) %>
      <%= render partial: "posts/form" %>
    <% end %>

    <% @posts.each do |post| %>
      <%= @poster.username %>
      <div class="post_content">
        <p> <%= post.post_content %> </p>
      </div>
    <% end %>
    </div>
</div>




