
<div class="body" style="overflow-y: scroll; height: 400px;">
  <div class="feature" id="1">
    <h3>Group Info</h3>

		<p id="notice"><%= notice %></p>
	
		<div class="feature">
      <%= image_tag(@group.group_logo_url, class: "group-logo-large") %>
			<p>
			  <b>Group name:</b>
			  <%= @group.group_name %>
			</p>
		</div>

		<div class="feature">
			<p>
			  <b>Group description:</b>
			  <%= @group.group_description %>
			</p>
		</div>

		<div class="feature">
			<p>
			  <b>Group logo url:</b>
			  <%= @group.group_logo_url %>
			</p>
		</div>
		
		<div class="feature">
			<p>
			  <b>Group tagline:</b>
			  <%= @group.group_tagline %>
			</p>
		</div>
	</div>
	  <div class="nav-options">
			<%= link_to 'Edit', edit_group_path(@group) %> |
			<%= link_to 'Back', groups_path %>
		</div>