<h1 class="title">GROUPS#SHOW</h1>

<%= form_tag("/searchgames") do |u| %>
	<%= text_field_tag "search", nil, placeholder: "Search games..." %>
	<%= submit_tag "Search" %>
<% end %>

<%= button_to "Create Event", new_event_path %>

<div class="body" style="overflow-y: scroll; height: 400px;">
  <div class="feature" id="1">
    <h3>Group Info</h3>

		<p id="notice"><%= notice %></p>

		<div class="feature">
      <%= image_tag(@group.group_logo_url, class: "group-logo-large") %>
			<p>
			  <b>Group name:</b>
			  <%= @group.group_name %>
			</p>
		</div>

		<div class="feature">
			<p>
			  <b>Group tagline:</b>
			  <%= @group.group_tagline %>
			</p>
		</div>
		<div class="feature">
			<p>
			  <b>Group description:</b>
			  <%= @group.group_description %>
			</p>
		</div>
	</div>

	<% if @group.users.include?(current_user) %>
  	<%= render partial: "posts/form" %>
  <% end %>

  <% @posts.each do |post| %>
  	<%= @poster.username %>
  	<div class="post_content">
  		<p> <%= post.post_content %> </p>
  	</div>
  <% end %>
	  <div class="nav-options">
	  	<% if current_user.groups.include?(@group) %>
				<%= button_to 'Leave Group', remove_user_path(@group.id), method: :post %>
			<% else %>
				<%= button_to "Join Group", add_user_path(@group),  method: :post %>
			<% end %>
			<%= link_to 'Edit', edit_group_path(@group) %> |
			<%= link_to 'Back', groups_path %>
		</div>