<%= form_for(@user), class: form do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new_user_welcome">
  <p>
    <h1>Let's Create Your New</h1>
    <h2> Account To Get Started</h2>
  </p>
</div>

<section>
  <div class="text_area">
    <div class="field">
      <%= f.text_area :user_bio, placeholder: "Your bio...", cols: "60", rows: "10" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <div class="signup_fields">
    <div class="field">
      <%= f.text_field :username, placeholder: "Username..." %>
    </div>
    <% if current_user %>
      <%= link_to "Change Password", new_password_path %>
    <% else %>
    <div class="field">
      <%= f.password_field :password_hash, placeholder: "Password..." %>
    </div>
     <div class="field">
      <%= f.password_field :confirm_pw, placeholder: "Confirm Password..." %>
    </div>
    <% end %>
    <div class="field">
      <%= f.text_field :user_email, placeholder: "Email..." %>
    </div>
    <div class="field">
      <%= f.number_field :user_zipcode, placeholder: "Zipcode..." %>
    </div>
  </div>
</section>
<% end %>
