<div class="container-fluid centered container-trans margin-1">
    <h1>Editing user</h1>
<form class="form-group">
  <%= form_for @user, class: "form-horizontal center" do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    
    <div class="signup_fields centered container-fluid container-trans">
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username...", class: "container-search text-left" %>
      </div>
      <% if current_user %>
        <%= button_to "Change Password", new_password_path, class: "btn btn-warning" %>
      <% else %>
      
      <div class="new_user_welcome">
        <p>
          <h2>Create a New Account To Get Started</h2>
        </p>
      </div>

      <div class="field container-fluid">
        <%= f.password_field :password_hash, placeholder: "Password...", class: "container-search text-left" %>
      </div>
       <div class="field container-fluid">
        <%= f.password_field :confirm_pw, placeholder: "Confirm Password...", class: "container-search text-left" %>
      </div>
      <% end %>
      <div class="field container-fluid">
        <%= f.text_field :user_email, placeholder: "Email...", class: "container-search text-left" %>
      </div>
      <div class="field container-fluid">
        <%= f.text_area :user_bio, placeholder: "Your bio...", cols: "40", rows: "8", class: "control-label col-md-8" %>
      </div>
      <div class="field container-fluid">
        <%= f.number_field :user_zipcode, placeholder: "Zipcode...", class: "container-search text-left" %>
      </div>
    <%= f.submit "Update User", class: "btn btn-primary" %>
    <% end %>
    </div>
  </form>
</div>

