<div class="body" style="overflow-y: scroll; height: 400px;">
  <div class="feature" id="1">
    <p>Pudding ice cream candy canes halvah jelly-o cake. Applicake dragée pastry. Bear claw tiramisu candy candy canes. Lemon drops toffee pudding bear claw I love cotton candy brownie cookie gummi bears. Cake I love candy. Icing I love applicake croissant donut apple pie. Chupa chups oat cake soufflé candy. Pie apple pie donut unerdwear.com carrot cake cheesecake dessert carrot cake. Macaroon muffin I love I love toffee chocolate bar ice cream sesame snaps brownie. Macaroon apple pie cheesecake icing bonbon chocolate bar cake. Lemon drops croissant pastry croissant I love muffin. Marzipan applicake pudding candy canes fruitcake wafer oat cake gummi bears.
    </p>

    <% if current_user %>
      <h3></h3>
    <% else %>
      <h3>Landing Page</h3>
    <% end %>
  </div>

  <div class="feature" id="2">
    <p>Feature 1</p>
  </div>

  <div class="feature" id="3">
    <p>Feature 2</p>
  </div>
</div>

























































<div class="display-users" style="display:none;">
<table>
  <tr>
    <th>User name</th>
    <th>Password hash</th>
    <th>User email</th>
    <th>User bio</th>
    <th>User zipcode</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.password_hash %></td>
    <td><%= user.user_email %></td>
    <td><%= user.user_bio %></td>
    <td><%= user.user_zipcode %></td>
    <td><%= link_to 'View User', user %></td>
    <td><%= link_to 'Edit User', edit_user_path(user) %></td>
    <td><%= link_to 'Kill User', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

</div>



