<h3>Users View</h3>

<table>
  <tr>
    <th>User name</th>
    <th>Password hash</th>
    <th>User email</th>
    <th>User bio</th>
    <th>User zipcode</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
    <td><%= user.password_hash %></td>
    <td><%= user.user_email %></td>
    <td><%= user.user_bio %></td>
    <td><%= user.user_zipcode %></td>
    <td><%= link_to 'View User', user %></td>
    <td><%= link_to 'Edit User', edit_user_path(user) %></td>
    <td><%= link_to 'Kill User', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
