<div class="body" style="overflow-y: scroll; height: 400px;">
  
  <div class="nav-options">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
  
  <div class="feature" id="1">
    <h3>Profile Info</h3>

    <p id="notice"><%= notice %></p>

    <p>
      <b>User name:</b>
      <%= @user.username %>
    </p>

    <p>
      <b>User email:</b>
      <%= @user.user_email %>
    </p>

    <p>
      <b>User bio:</b>
      <%= @user.user_bio %>
    </p>

    <p>
      <b>User zipcode:</b>
      <%= @user.user_zipcode %>
    </p>


    <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
  </div>

  <div class="feature" id="2">
    <h2>USERS GAMES</h2>
    <p>STUB some stuff should really go here at some point!</p>
  </div>

  <div class="feature" id="3">
    <h2>USERS GROUPS</h2>
    <ul class="show-group-list">
      <li>
        <% current_user_groups.each do |group| %>
        <div class="group-header">
          <%= link_to image_tag(group.group_logo_url, class: "group-logo"), group_path(group.id) %>
          <h3><%= link_to "#{group.group_name}", group_path(group.id), class: "no-underline-link" %></h3>
        <div>
        <p><%= group.group_description %></p>
        <p><%= group.group_tagline %></p>
        <% end %>
      </li>
  </ul>
  </div>
  <div class="nav-options">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>

