<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :event_name, placeholder: 'Event Name...' %>
  </div>
  <div class="field">
    <%= f.text_field :event_game_title, placeholder: 'Name of Game to Play...' %>
  </div>
  <div class="field">
    <%= f.text_field :event_description, placeholder: 'Event Description...' %>
  </div>
  <div class="field">
    <%= f.text_field :event_location, placeholder: 'Event Location...' %>
  </div>
  <div class="field">
    <%= f.number_field :event_zipcode, placeholder: 'Zipcode of Location' %>
  </div>
  <div class="field">
    <%= f.label :event_active %><br />
    <%= f.check_box :event_active %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.datetime_select :event_date %>
  </div>
  <div class="field">
    <%= f.select :event_type_id, ["", "Tournament","In Game", "Recruitment"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
