
<%= button_to 'Edit', edit_event_path(@event) %> |
<%= button_to 'Back', events_path %>
<% if @event.user_id == current_user.id %>
  <%= button_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' } %>  %>
<% end %>

<div class="white-text">
  <p id="notice"><%= notice %></p>

  <h1><%= @event.event_name %></h1>

  <p>
    <b>Event game title:</b>
    <%= @event.event_game_title %>
  </p>

  <p>
    <b>Event description:</b>
    <%= @event.event_description %>
  </p>

  <p>
    <b>Event location:</b>
    <%= @event.event_location %>
  </p>

  <p>
    <b>Event active:</b>
    <%= @event.event_active %>
  </p>

  <p>
    <b>Event date:</b>
    <%= @event.event_date %>
  </p>

  <p>
    <b>Event type:</b>
    <%= @event.event_type %>
  </p>

  <p>
    <b>Event zipcode:</b>
    <%= @event.event_zipcode %>
  </p>
</div>

<div class="game_show_on_event">
  <% if @game %>
    <tr>
      <%= link_to image_tag(@game.game_img_url), game_path(@game)  %>
    </tr>
  <% end %>
</div>

<% if @tourney %>
<%= link_to "Start Tournament",  start_tournament_path({id: @tourney.id, url: @tourney.tourney_url}), method: :post %>
  <iframe src=<%= "http://challonge.com/#{@tourney.tourney_url}/module"%> width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
<% end %>

