<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_name %><br />
    <%= f.text_field :game_name %>
  </div>
  <div class="field">
    <%= f.label :game_img_icon_url %><br />
    <%= f.text_field :game_img_icon_url %>
  </div>
  <div class="field">
    <%= f.label :game_img_logo_url %><br />
    <%= f.text_field :game_img_logo_url %>
  </div>
  <div class="field">
    <%= f.label :game_playtime_2weeks %><br />
    <%= f.number_field :game_playtime_2weeks %>
  </div>
  <div class="field">
    <%= f.label :game_playtime_forever %><br />
    <%= f.number_field :game_playtime_forever %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
