
<div class="container">
  <div class="container-fluid">
  
    
      
    
  </div>
  
  <h2 class="centered">Full List</h2>
  
  <p class="container gray-text centered">Check out the full list of games below, or search to add  specific title.</p>
  <hr>
  <h4 class="container-fluid centered">
    <%= form_tag("/searchgames") do |u| %>
      <%= text_field_tag "search", nil, placeholder: "Search games..." %>
      <%= submit_tag "Search", class: "btn button-success" %>
    <% end %>
  </h4>
  <div class="row">
    <% cache do %>
      <% @games.each do |game| %>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <section class="game-image img-responsive"><%= link_to image_tag(game.game_img_url), game_path(game) %>
          <span class="yellow-text"><%= game.game_name %></span></section>
        </div>  
      <% end %>
    <% end %>
  </div>
  <hr>
  <br><br>
</div>

