
<div class="container container-trans">
  <div class="container-fluid">
  

  
  <h4 class="container-fluid centered">
    <%= form_tag("/searchgames") do |u| %>
      <%= text_field_tag "search", nil, placeholder: "Search games...", class: "container-search" %>
      <%= submit_tag "Search", class: "btn button-purple" %>
    <% end %>
  
  </h4>
  <h2 class="centered">Full Games List</h2>
  <p class="purple-text centered">Check out the full list of games below, or search to add  specific title.</p>

  </div>
  <div class="row">
    <% cache do %>
      <% @games.each do |game| %>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <section class="game-image img-responsive"><%= link_to image_tag(game.game_img_url), game_path(game) %>
          <span class="purple-text centered"><%= game.game_name %></span></section>
        </div>  
      <% end %>
    <% end %>
  </div>

  <br><br>
</div>

