<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>Game name:</b>
  <%= @game.game_name %>
</p>

<p>
  <b>Game img icon url:</b>
  <%= @game.game_img_url %>
</p>
<%= link_to 'Add Game', addgame_path(@game.id), method: "post" %>
<div class="game_info">
	<% cache do %>
		<p class="white-text"> <%= @returned_game.html_safe %></p>
	<% end %>

</div>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</div>

