
<div class="container-fluid container-trans">
<p id="notice"><%= notice %></p>

	<p>
	  <b>Game name:</b>
	  <%= @game.game_name %>
	</p>

	<p>
	  <%= image_tag( @game.game_img_url, class: "border-white") %>
	</p>
	<%= button_to 'Add Game', addgame_path(@game.id), method: "post", class: "btn btn-success" %>
	<% if @game  %>
		<div class="game_info"
			<p class="white-text"><%= @game.game_description.html_safe %></p>
		</div>
	<% else %>
		<h2>Please enter a valid game title.</h2>
	<% end  %>
	</div>
</div>

