<div class="navbar">

  <h1 class="container"><%= link_to image_tag("metagame.png", :alt => "MetaGame"), root_path %></h1>

  <div class="splash-buttons">
    <% if current_user %>
      <table>
        <tr>
          <td><%= link_to "#{@current_user.username}", user_path(current_user) %></td>
          <td><%= link_to "Create Group", new_group_path %><br></td>
          <td><%= link_to "Browse Groups", groups_path %></td>
          <td><%= link_to "Browse Games", games_path %></td>
          <td><%= link_to "Browse Events", events_path %> <br></td>
          <td><%= link_to "MetaMessenger", user_messages_path(current_user.id) %> <br></td>
      		<td><%= link_to "Logout", logout_path %></td>
        </tr>
        <tr>
          <td><%= link_to "Private Profile AJAX!", user_path(current_user.id), remote: true, class: "ajax-private-profile-button" %></td>
          <td><%= link_to "Public Profile AJAX!", user_path(1), remote: true, class: "ajax-public-profile-button" %></td>
        </tr>
      </table>
    <% else %>
      <table>
        <tr>
          <td><%= render "sessions/signin" %></td>
          <td><%= link_to "Sign Up", new_user_path, id: "signup-button" %></td>
        </tr>
      </table>
    <% end %>
  </div>

</div>

</div>




