<div class="navbar">


  <h1 class="nav-brand"><%= link_to image_tag("metagame.png", :alt => "MetaGame"), root_path %></h1>

  <div class="splash-buttons">
    <% if current_user %>
      <%= link_to "Username", user_path(current_user) %>
			<%= link_to "Logout", logout_path %>
    <% else %>
      <%= render "sessions/signin" %>
      <%= link_to "Sign Up", new_user_path, id: "signup-button" %>
    <% end %>
  </div>

</div>

</div>




